@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e5e5e5;
  --foreground: #000000;
  --border: #c7c7c7;
  --accent: #000000; /* Rote Akzentfarbe auf Root-Ebene */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-montserrat);
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; /* Verhindert horizontales Scrollen */
}

@layer base {
  .font-\[\'Montserrat\'\2c _sans-serif\] {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: -0.09em; /* adjust spacing as needed */
    /* add other font styles here */
  }
}

/* Scrollbar Styles - angepasst wie im zweiten Beispiel */
::-webkit-scrollbar {
  width: 9px; /* Geändert von 15px auf 10px */
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  border-radius: 6px;
  border: none; /* Border entfernt */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--foreground);
}

.mobile-left {
  left: 32px; /* 8 in Tailwind units */
}

@media (pointer: coarse) and (max-width: 640px) {
  .title-position {
    left: 32px !important; /* entspricht left-8 */
  }
}

@media (min-width: 640px) {
  .desktop-left {
    left: 40px; /* 10 in Tailwind units */
  }
}